<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.17"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $JENKINS_HOME #this environment variable point to `/var/lib/jenkins`
git init
git add .
git add --all
git config --global user.email &quot;dumdumgw@gmail.com&quot;
git config --global user.name &quot;edwin-noh&quot;
BACKUP_TIMESTAMP=`date +%s` #current timestamp
if ! git remote | grep origin &gt; /dev/null; then #if remote origin is NOT set, add it
  git remote add origin https://github.com/edwin-noh/kb-jenkins-backup-demo.git
fi
git commit -m &quot;Automated Jenkins backup - $BACKUP_TIMESTAMP&quot;
git push https://edwin-noh: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@github.com/bbalakriz/jenkins-backup.git --all</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>